# =========================
# Node / Tailwind
# =========================
node_modules/
package-lock.json
package.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# =========================
# Tailwind source files
# =========================
src/input.css
tailwind.config.js
postcss.config.js

# =========================
# Build / system junk
# =========================
dist/
.cache/
.parcel-cache/

# =========================
# OS / editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Environment files
# =========================
.env
.env.*
